<template name="trending">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">用户列表</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <!--
        {{#each products}}
          {{> _productItem product=this path="products.show"}}
        {{/each}}
        -->

						{{#ionItem path=../path iconLeft=true iconRight=true}}
							{{> _voteButton}}
							<h2>期待、黎明</h2>
							<p> 
								{{tagline}}
                java，Mysql ，嵌入式，汇编，Linux内核移植，sql
							</p>
							<span class="comments-count">
        				{{numberOfComments}}
								8
								{{> ionIcon icon="thumbsup" }}
							</span>
						{{/ionItem}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
