<template name="trending">

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}
<!--
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}
-->
  {{#contentFor "headerTitle"}}
    <h1 class="title">用户列表</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <!--
        {{#each products}}
          {{> _productItem product=this path="products.show"}}
        {{/each}}
        -->
          {{#each allUsers}}
					 
            {{#ionItem path=../path iconLeft=true iconRight=true avatar=true}}
							<!-- {{> _voteButton}} -->

                <img src="{{profile.avatar_url}}"> 
                <h3>
									{{profile.name}} 
									(<a href="/users/{{_id}}">@{{profile.login}}</a>)&nbsp; 
									{{profile.followers}} followers
                </h3>

                <!-- <p> <a href="mailto:{{profile.email}}"> {{profile.email}} </a></p> -->
                <p> 
                  {{#each skills}}
                  	{{language}}-{{count}}, 
                  {{/each}}
                </p>

                <div>
                  <span class="comments-count">
                  {{> ionIcon icon="social-github"}}
                  {{profile.public_repos}}
                  </span>
                </div>
              
			{{/ionItem}}
          {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
