<template name="trending">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left button-positive" data-ion-modal="search">
      {{> ionIcon icon='ios-search'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newChat">
      {{> ionIcon icon='ios-chatboxes-outline'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">用户列表</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <!--
        {{#each products}}
          {{> _productItem product=this path="products.show"}}
        {{/each}}
        -->
          {{#each allUsers}}
					 	{{> _userItem user=this path="users.show"}}
          {{/each}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
