<template name="newProduct">
  {{#ionModal focusFirstInput=true title="发布新目标"}}
    {{> quickForm collection="Products" id="products-new-form" type="insert" omitFields="userId,voterIds,numberOfVotes,numberOfComments,createdAt" buttonContent="发布"}}
  {{/ionModal}}
</template>


<template name="newChat">
  {{#ionModal focusFirstInput=true title="发起聊天"}}
    <!-- {{> quickForm collection="Products" id="chat-new-form" type="insert" omitFields="userId,voterIds,numberOfVotes,numberOfComments,createdAt" buttonContent="聊天"}} -->
    <iframe src="http://maodou.us:3000/plugin/chat?id=123456&firstName=maodou.io&lastName=&pictureUrl=http://g.twimg.com/Twitter_logo_blue.png" height=100% width=100%></iframe>
  {{/ionModal}}
</template>
