<template name="newProduct">
  {{#ionModal focusFirstInput=true title="发布新目标"}}
    {{> quickForm collection="Products" id="products-new-form" type="insert" omitFields="userId,voterIds,numberOfVotes,numberOfComments,createdAt" buttonContent="发布"}}
  {{/ionModal}}
</template>


<template name="newChat">
  {{#ionModal focusFirstInput=true title="发起聊天"}}
    <!-- {{> quickForm collection="Products" id="chat-new-form" type="insert" omitFields="userId,voterIds,numberOfVotes,numberOfComments,createdAt" buttonContent="聊天"}} -->
    <h3> To be continued... </h3>
  {{/ionModal}}
</template>
