<template name="newProduct">
  {{#ionModal focusFirstInput=true title="发布新目标"}}
    {{> quickForm collection="Products" id="products-new-form" type="insert" omitFields="userId,voterIds,numberOfVotes,numberOfComments,createdAt" buttonContent="发布"}}
  {{/ionModal}}
</template>


<template name="newChat">

    {{#ionModal focusFirstInput=true title="发起聊天"}}

    <iframe src="http://maodou.us:3000/plugin/join_chat?id={{id}}&binderId=BH7lxfIG67uFujGeWOAyQC4&firstName={{name}}&lastName=&pictureUrl={{avatar_url}}" height=100% width=100%></iframe>

    {{/ionModal}}
  
</template>
