
<template name="search">
  {{#ionModal focusFirstInput=true title="搜索用户"}}
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          {{> ionIcon icon="ios-search" class="placeholder-icon"}}
          <input type="text" placeholder="请输入用户信息，例如limingth，ruby，meteor等" value="{{searchQuery}}">
        </label>
      </div>
      {{#each results}}
        {{> _userItem user=this path="users.show"}}
      {{/each}}
    </div>
  {{/ionModal}}
</template>


<template name="search2">
  {{#ionModal focusFirstInput=true title="搜索学习目标"}}
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          {{> ionIcon icon="ios-search" class="placeholder-icon"}}
          <input type="text" placeholder="请输入学习目标关键字，例如android" value="{{searchQuery2}}">
        </label>
      </div>
      {{#each products}}
        {{> _productItem product=this path="products.show"}}
      {{/each}}
    </div>
  {{/ionModal}}
</template>

