<template name="_profileHeader">
  <div class="profile-header">

    <div class="avatar avatar-large avatar-circle avatar-hide-initials">
      <img class="avatar-image" src="{{profile.avatar_url}}?s=200" width="80" height="80">
      <span class="avatar-initials">LM</span>
    </div>
       
    <h3>{{ profile.name }} @ {{ profile.location }}</h3>
    <h4> <a href="mailto:{{profile.email}}"> {{profile.email}} </a></h4>
    <p> {{profile.public_repos}} repos, {{profile.followers}} followers </p> 
  </div>
</template>

<template name="_profileBody">
  <div class="padding product-detail-comments">
			<h4>
				<img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width=32 height=32 class="positive" /> 
				<a href="https://github.com/{{profile.login}}" target="_blank">
					http://github.com/{{profile.login}}</a>
			</h4>
					{{#each repos}}
						{{#ionItem}} 
                <h3 class="product-title">
									<a href={{html_url}} target=_blank>{{name}}</a> 
									<!-- {{name}} -->
                </h3>
                <h3 class="language">
                  {{#if language}}
		         			  [{{language}}]
		         			{{/if}}		
		         		</h3>	                  
                <p>
                {{description}} 
	         			</p>
            {{/ionItem}}
					{{else}}
						<p style="font-size:20px;margin-top:30px;">There are no repo in this guy</p>
					{{/each}}
	</div>
</template>