<template name="profile">
  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear pull-right button-positive" data-ion-modal="settings">
        {{> ionIcon icon='ios-gear-outline'}}
      </button>
    {{/contentFor}}
  {{/if}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">我</h1>
  {{/contentFor}}

  {{#if currentUser}}
	  {{#ionView}}
	    {{#ionContent}}
	      {{#with user}}
	        {{> _profileHeader}}

	        {{#ionList}}
	        	{{> _profileBody}}

	          {{#each votedProducts}}
	            {{> _productItem product=this path="products.show"}}
	          {{/each}}
	        {{/ionList}}
	      {{else}}
	        <div class="empty-view">
	          {{> ionIcon icon="ios-person"}}
	          No profile yet!
	        </div>
	      {{/with}}
	    {{/ionContent}}
	  {{/ionView}}
 
  {{else}}
	  {{#ionView}}
	    {{#ionContent}}
	   	  {{> signIn}}
	   	{{/ionContent}}
	  {{/ionView}}
 
  {{/if}}


</template>

<template name="github">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}
  {{/contentFor}}

<!--
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-action="share-product" data-product-id="{{product._id}}">
      {{> ionIcon icon='ios-upload-outline'}}
    </button>
  {{/contentFor}}
-->

  {{#contentFor "headerTitle"}}
    <h1 class="title">申请Github账户</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      before 
      <a href="http://github.com">github</a>
      after

      <br>

      before i frame

    {{#ionView}}
      {{#ionContent}}
      <iframe src="http://github.com"></iframe>
      {{/ionContent}}
    {{/ionView}}

      after i frame

    {{/ionContent}}
  {{/ionView}}

</template>
