<template name="profile">
  {{#if currentUser}}
    {{#contentFor "headerButtonRight"}}
      <button class="button button-clear pull-right button-positive" data-ion-modal="settings">
        {{> ionIcon icon='ios-gear-outline'}}
      </button>
    {{/contentFor}}
  {{/if}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">我</h1>
  {{/contentFor}}

  {{#if currentUser}}
	  {{#ionView}}
	    {{#ionContent}}
	      {{#with user}}
	        {{> _profileHeader}}

	        {{#ionList}}
	        <div class="padding product-detail-comments">
							<h4>
								<img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width=32 height=32 class="positive" /> 
								<a href="https://github.com/{{profile.login}}" target="_blank">
									http://github.com/{{profile.login}}</a>
								 &nbsp; &nbsp; ({{profile.public_repos}} repos, {{profile.followers}} followers)
							</h4>
									{{#each repos}}
										{{#ionItem}} 
			                  <h3 class="product-title">
													<a href={{html_url}} target=_blank>{{name}}</a> 
			                  </h3>
			                  <div class="product-detail">
			                  {{description}} 
				                  {{#if language}}
						         			  <a href="#" target="_blank" class="positive">[{{language}}]</a>
						         			{{/if}}
					         			</div>
		                {{/ionItem}}
									{{else}}
										<p style="font-size:20px;margin-top:30px;">There are no repo in this guy</p>
									{{/each}}
					</div>

	          {{#each votedProducts}}
	            {{> _productItem product=this path="products.show"}}
	          {{/each}}
	        {{/ionList}}
	      {{else}}
	        <div class="empty-view">
	          {{> ionIcon icon="ios-person"}}
	          No profile yet!
	        </div>
	      {{/with}}
	    {{/ionContent}}
	  {{/ionView}}
 
  {{else}}
	  {{#ionView}}
	    {{#ionContent}}
	   	  {{> signIn}}
	   	{{/ionContent}}
	  {{/ionView}}
 
  {{/if}}


</template>
